{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Hello world!</h1>
    <div id="app">
        <el-upload
                class="upload-demo"
                ref="upload"
                drag
                action="{{ url_for('sender.upload') }}"
                multiple
                :auto-upload="false"
                :limit="1"
                {#                :data="data">#}
        >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">只能上传txt,mobi,doc,docx,rtf,pdf文件，且不超过25Mb</div>
        </el-upload>
        <el-input v-model="data['email']" name="email" placeholder="邮箱"></el-input>
        <el-button round @click="submitUpload">推送</el-button>
    </div>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                'data': {'email': ''},
            },
            methods: {
                submitUpload() {
                    this.$refs.upload.submit();
                    axios.post('{{ url_for('sender.upload') }}', {
                        'data': {'email': ''},
                    }).then(function (response) {
                        console.log(response);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
    </script>
{% endblock %}

