{% extends 'base.html' %}

{% block  title %}
    Sign in
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div id="app">
        <el-row>
            <el-row :gutter="20">
                <el-col :span="8" :offset="8">
                    <div id="input">
                        <el-input v-model="email" :maxlength="32"
                                  style="margin: 10px 0;">
                            <template slot="prepend">Email</template>
                        </el-input>
                        <el-input v-model="password" show-password :maxlength="32"
                                  style="margin: 10px 0;">
                            <template slot="prepend">Password</template>
                        </el-input>
                        <el-link type="primary" href="{{ url_for('auth.register') }}" style="width: 60px">Sign up</el-link>
                        <el-button plain style="margin: 10px 0; left: 236px; width: 100px; position: relative;" @click="login">sign in
                        </el-button>
                    </div>
                </el-col>
            </el-row>
        </el-row>
    </div>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                email: '',
                password: ''
            },
            methods: {
                login: function () {
                    axios.post('/auth/login', {
                        email: this.email,
                        password: this.password
                    }).then(function (response) {
                        if (response.data.error) {
                            app.$message({
                                showClose: true,
                                message: response.data.error,
                                type: 'error'
                            });
                        } else {
                            app.$message({
                                showClose: true,
                                message: 'Sign in successfully.',
                                type: 'success'
                            });
                            setTimeout(function () {
                                window.location.href = '{{ url_for('index') }}'
                            }, 2000)
                        }
                    })
                },
            }
        });
    </script>
{% endblock %}
